@font-face {
    font-family: 'fugue';
    src: url(../fonts/fugue_regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'karla';
    src: url(../fonts/karla-bold-webfont.eot);
    src: url(../fonts/karla-bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/karla-bold-webfont.woff) format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'karla';
    src: url(../fonts/karla-regular-webfont.eot);
    src: url(../fonts/karla-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/karla-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}